* {
    margin: 0;
    padding: 0;
    border: 0;
}

.hidden {
    display: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0ebf8;
}

header {
    width: 400px;
    background-color: white;
    padding: 20px;
}


fieldset {
    width: 400px;
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 0 18%;
}